.navegation {
    background-color: white;
    height: 50px;
    width: 50px;
    display: inline-block;
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-weight: 800;
    box-shadow: 0px 0px 4px #0005;
}

.product__image {
    height: 60%;
}

.product__navegation-container {
    display: flex;
}